{% extends 'base.html' %}


{% block title %}
AppData-Offer
{% endblock %}

{% block content %}
{% load static %}

    <!-- Model -->
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Offer Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="offer">Offer<span style="color: red;">*</span></label>
                            <select name="offer_type" class="custom-select" id="offer2" required>
                                <option value="0"
                                {% if '0' in app_data_d.offer%}
                                selected
                                {% endif %}
                                >END</option>
                                <option value="1"
                                {% if '1' in app_data_d.offer%}
                                selected
                                {% endif %}
                                >START</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Offer_Percentage">Offer in Percentage<span style="color: red;">*</span></label>
                            <input type="text" class="form-control" id="Offer_Percentage2" name="Offer_Percentage"
                                placeholder="Offer in Percentage" value="{{app_data_d.offer_percentage}}" required>
                        </div>
                        <div class="form-group">
                            <label>Offer Start Time<span style="color: red;">*</span></label>
                            <div class="input-group date" id="reservationdatetime" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" id="offer_start2" name="offer_start_date"
                                    data-target="#reservationdatetime" value="{{app_data_d.offer_starttime}}" required/>
                                <div class="input-group-append" data-target="#reservationdatetime"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Offer End Time<span style="color: red;">*</span></label>
                            <div class="input-group date" id="reservationdatetime2" data-target-input="nearest">
                                <input type="text" class="form-control datetimepicker-input" id="offer_end2" name="offer_end_date"
                                    data-target="#reservationdatetime2" value="{{app_data_d.offer_endtime}}" required/>
                                <div class="input-group-append" data-target="#reservationdatetime2"
                                    data-toggle="datetimepicker">
                                    <div class="input-group-text">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="OfferDiscountTitle">Offer Discount Title<span style="color: red;">*</span></label>
                            <input type="text" name="offerDiscountTitle" class="form-control" id="OfferDiscountTitle2" placeholder="Offer Discount Title" value="{{app_data_d.offer_discount_title}}" required>
                        </div>
                        <div class="form-group">
                            <label for="OfferDiscountText">Offer Discount Text<span style="color: red;">*</span></label>
                            <textarea type="text" name="offerDiscountText" class="form-control" id="OfferDiscountText2" placeholder="Offer Discount Text"
                                required>{{app_data_d.offer_discount_text}}</textarea>
                        </div>
                        <div class="form-group">
                            <label for="offer_discount_image">Offer Discount Image</label><br>
                            <div class="imageshow"></div>
                            <input type="file" name="offer_discount_image" class="form-control" id="offer_discount_image2" value="{{app_data_d.offer_discount_image}}" accept="image/*">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="submit2">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

    <!-- URL/Path -->
    <div class="content-wrapper" style="min-height: 1342.88px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6" style="margin-bottom: 10px;">
                            <h1>Edit Offer Details</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"> App Data</li>
                                <li class="breadcrumb-item active">Offer Details</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main Content -->
        <section class="content">

            {% for message in messages %}
            <div class="alert alert-danger" role="alert">
            {{message}}
            </div>
            {% endfor %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> Offer Details
                                </h3>
                            </div>
                        </div>
                        <form
                            style="margin-top: -20px; border: 1px solid grey; border-radius: 0px 0px 10px 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-body">
                                <div class="form-group" style="margin-bottom: 35px;">
                                    <button type="button" class="btn btn-outline-primary btn-block"
                                        style="float: right; width: 80px;" data-toggle="modal"
                                        data-target="#exampleModal">
                                        Edit
                                    </button>
                                </div>
                                <div class="form-group">
                                    <label for="offer">Offer</label>
                                    <b  name="offer" class="form-control">
                                        {% if app_data_d.offer == "0" %}
                                        END
                                        {% endif %}
                                        {% if app_data_d.offer == "1" %}
                                        START
                                        {% endif %}
                                    </b>
                                </div>
                                <div class="form-group">
                                    <label for="Offer_Percentage">Offer in Percentage</label>
                                    <b class="form-control" id="Offer_Percentage" >{{app_data_d.offer_percentage}}</b>
                                </div>
                                <div class="form-group">
                                    <label for="Offer_Start_time">Offer Start Time</label>
                                    <b type="text" class="form-control" id="Offer_Percentage" >{{app_data_d.offer_starttime}}</b>
                                </div>
                                <div class="form-group">
                                    <label for="Offer_End_time">Offer End Time</label>
                                    <b class="form-control" id="Offer_Percentage">{{app_data_d.offer_endtime}}</b>
                                </div>
                                <div class="form-group">
                                    <label for="OfferDiscountTitle">Offer Discount Title</label>
                                    <b class="form-control" id="OfferDiscountTitle" >{{app_data_d.offer_discount_title}}</b>
                                </div>
                                <div class="form-group">
                                    <label for="OfferDiscountText">Offer Discount Description</label>
                                    <textarea readonly class="form-control" id="OfferDiscountText" style="background-color: white;" >{{app_data_d.offer_discount_text}}</textarea>
                                </div>
                                
                                {% if app_data_d.offer_discount_image %}
                                {% if app_data_d.offer_discount_image != "" %}                                
                                <div class="form-group">
                                    <label for="offer_discount_image">Offer Discount Image</label><br>
                                    <div class="imageshow"></div>
                                    <img name="offer_discount_image" class="form-control" id="offer_discount_image" style=" width: 150px; height: 150px; " src="{% static 'img/appdata_offer/' %}{{app_data_d.offer_discount_image}}">
                                </div>
                                {% endif %}
                                {% endif %}
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>
    </div>
    
{% endblock %}

{% block content_js %}
<script src="{% static 'js/appdata_offer.js' %}"></script>
{% endblock %}