{% extends 'base.html' %}

{% block title %}
Manage Profile
{% endblock %}

{% block content %}
{% load static %}

    <!-- Model -->
<form action="" method="POST">
    {% csrf_token %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Manage Profile</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <!-- <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Email" required>
                        </div> -->
                        <div class="form-group">
                            <label for="current_password">Current Password</label>
                            <input type="password" name="current_password" class="form-control" id="current_password" placeholder="Current Password" required>
                        </div>
                        <div class="form-group">
                            <label for="new_password">New Password</label>
                            <input type="password" name="new_password" class="form-control" id="new_password" placeholder="New Password" required>
                        </div>
                        <div class="form-group">
                            <label for="new_confirm_password">New Confirm Password</label>
                            <input type="password" name="new_confirm_password" class="form-control" id="new_confirm_password" placeholder="Re-Enter Password" required>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </div>
        </div>
    </div>
</form>

    <!-- URL/Path -->
    <div class="content-wrapper" style="min-height: 1342.88px;">
        <section class="content-header">
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6" style="margin-bottom: 10px;">
                            <h1>Manage Profile</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item active"><a href="{% url 'home' %}"> Home </a></li>
                                <li class="breadcrumb-item ">Manage Profile</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Main Content -->
        <section class="content">

            {% for message in messages %}
            {% if 'success' in message.tags %}
            <div class="alert alert-success" role="alert">
            {{message}}
            </div>
            {% endif %}
            {% if 'error' in message.tags %}
            <div class="alert alert-danger" role="alert">
            {{message}}
            </div>
            {% endif %}
            {% endfor %}

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title"> Manage Profile
                                </h3>
                            </div>
                        </div>
                        <form
                            style="margin-top: -20px; border: 1px solid grey; border-radius: 0px 0px 10px 10px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                            <div class="card-body">
                                <div class="form-group" style="margin-bottom: 35px;">
                                    <button type="button" class="btn btn-outline-primary btn-block" style="float: right; width: 80px;" data-toggle="modal" data-target="#exampleModal"> Edit </button>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <b class="form-control" id="email"> {{superusers.username}} </b>
                                </div>
                                <div class="form-group">
                                    <label for="current_password">Current Password</label>
                                    <b class="form-control" id="current_password">  </b>
                                </div>
                                <div class="form-group">
                                    <label for="new_password">New Password</label>
                                    <b class="form-control" id="new_password">  </b>
                                </div>
                                <div class="form-group">
                                    <label for="new_confirm_password">New Confirm Password</label>
                                    <b class="form-control" id="new_confirm_password">  </b>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}